<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="cis" value="OU=CIS Users Pre-Prod,OU=Suppliers,OU=Domain Users,OU=Toyota Financial Services Europe (CZ),DC=CZ,DC=Toyota-FS,DC=com"/>
    <add key="sw602" value="OU=Software602 Users Pre-Prod,OU=Suppliers,OU=Domain Users,OU=Toyota Financial Services Europe (CZ),DC=CZ,DC=Toyota-FS,DC=com"/>
    <add key="ambica" value="OU=Ambica Users Pre-Prod,OU=Suppliers,OU=Domain Users,OU=Toyota Financial Services Europe (CZ),DC=CZ,DC=Toyota-FS,DC=com"/>
  </appSettings>
</configuration>